body {
    background-color: #85f0ec;
    margin: 0px 0px 0px 0px;
    text-align: center;
    color: #070707;
    font-size: 1.2em;
}

.container-fluid,
.reasonsContainer,
.servicesContainer,
.contactsContainer,
.aboutContainer {
    padding: 2% 5%;
}

.nav-item {
    margin: 30px;
}

.nav-link{
    color: #070707;
}

div.top-container,
div.servicesContainer{
    padding-bottom: 65px;
}

.btn {
    background: #01039B;
    background-image: -webkit-linear-gradient(top, #01039B, #01039B);
    background-image: -moz-linear-gradient(top, #01039B, #01039B);
    background-image: -ms-linear-gradient(top, #01039B, #01039B);
    background-image: -o-linear-gradient(top, #01039B, #01039B);
    background-image: linear-gradient(to bottom, #01039B, #01039B);
    -webkit-border-radius: 30;
    -moz-border-radius: 30;
    border-radius: 30px;
    -webkit-box-shadow: 3px 3px 4px #726f78;
    -moz-box-shadow: 3px 3px 4px #726f78;
    box-shadow: 3px 3px 4px #161616a8;
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
    color: #ffffff;
    font-size: 25px;
    padding: 10px 25px 10px 25px;
    margin-top: 50px;
    text-decoration: none;
}

#services .fa-brands,
#home .fa-brands{
    font-weight: 500;
    font-size: 30px;
}

.btn:hover {
    background: #01039B;
    background-image: -webkit-linear-gradient(top, #01039B, #01039B);
    background-image: -moz-linear-gradient(top, #01039B, #01039B);
    background-image: -ms-linear-gradient(top, #01039B, #01039B);
    background-image: -o-linear-gradient(top, #01039B, #01039B);
    background-image: linear-gradient(to bottom, #01039B, #01039B);
    text-decoration: none;
}

p {
    line-height: 1.3;
    text-align: center;
    margin: 0px;
}

img#imgLogo {
    border-radius: 0.5em;
    position: relative;
    margin: 0 auto 0 auto;
    width: 160px;
}

#h1main {
    font-size: 3.7rem;
    font-weight: bold;
    line-height: 2;
    margin: 50px auto 0px auto;
}

h2{
    font-size: 2.5rem;
    padding-bottom: 3%;
    padding-top: 0%;
}

/* SECTION REASONS */

.MultiCarousel {
    float: left;
    overflow: hidden;
    padding: 15px;
    width: 100%;
    position: relative;
}

.MultiCarousel .MultiCarousel-inner {
    transition: 1s ease all;
    float: left;
}

.MultiCarousel .MultiCarousel-inner .item {
    float: left;
}

.MultiCarousel .MultiCarousel-inner .item>div {
    text-align: center;
    padding: 10px;
    margin: 10px;
    background: #f1f1f1;
    color: #666;
}

/* .MultiCarousel .leftLst,
.MultiCarousel .rightLst {
    position: absolute;
    border-radius: 50%;
    top: calc(50% - 20px);
} */

.MultiCarousel .leftLst {
    left: 0;
}

.MultiCarousel .rightLst {
    right: 0;
}

/* .MultiCarousel .leftLst.over,
.MultiCarousel .rightLst.over {
    pointer-events: none;
    background: #ccc;
} */

#reasons{
    background-color: #ffffff;
    padding: 2% 5%;
    box-shadow: 0em 0em 2em rgba(0, 0, 0, 0.548);
}

#reasons a{
    width: 3%;
    background-color: #aaaaaa;
    margin-top: 10%;
    margin-bottom: 10%;
    border-radius: 5%;
}

.d-block{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0em 0em 0.5em rgba(0, 0, 0, 0.548);
    border-radius: 3%;
}

/* SECTION SERVICES */
#services img{
    border-radius: 15%;
    box-shadow: 0em 0em 0.5em rgba(0, 0, 0, 0.548);
    width: 35%;
    /* margin: 50px; */
}

#services h3{
    padding-top: 2%;
}

#services .btn{
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

/* SECTION ABOUT */
#about{
    background-color: #ffffff;
    box-shadow: 0em 0em 2em rgba(0, 0, 0, 0.548);
}

/* SECTION CONTACTS */
#contacts a{
    font-size: 150%;
    text-decoration: none;
    padding-left: 2%;
    padding-right: 2%;
    color: black;
}

.redesSociais{
    padding-bottom: 2%;
}

div.promocoes p{
    text-align: left;
    font-size: 1em;
}

.h3Form{
    /* margin-left: 7%; */
    padding-bottom: 2%;
}

input, select, textarea, button{
    border-radius: 5px;
}

.campo{
    margin-bottom: 1.5em;
}

.campo label{
    display: block;
}

.campo input:focus, .campo textarea:focus{
    background-color: #e2e2e2;
}